 
main{
    margin: 0 1em;
}



 h2{
    color: var(--rood);
    font-size: 1.125em;
 }

main div{
    background-color: var(--div-zwart);
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
}

main div svg{
    color: var(--wit-vulling);
    width: 0.7em;
}


/* Grote journaal 1 */
 main section:nth-of-type(1){
    display: grid ;
}

 main section:nth-of-type(1) h3{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: start;
    align-self: end;
    margin: 0;
    padding: 1.5em 0.7em;
    color: var(--wit-vulling);
    font-family: EffraBold, Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.25em;
 }


 main section:nth-of-type(1) p{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: start;
    align-self: end;
    margin: 0;
    padding: 0 1em 1.3em 1em;
    color: var(--wit-vulling);
    font-weight: 400;
    font-size: 0.875em;
 }

 main section:nth-of-type(1) div{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: end;
    align-self: start;
    margin: 0.5em;
 }

 main section:nth-of-type(1) img{
    grid-row-start: 1;
    grid-column-start: 1;
    min-width: 21.4em;
    width: 100%;
    object-fit: cover;
    min-height: 16em;
    
}

/* Kleine journalen 1 */
main section:nth-of-type(2) li{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    padding: 1em 0;
    gap: 1em;
}


main section:nth-of-type(2) h3{
    grid-row-start: 1;
    grid-column-start: 2;
    z-index: 1;
    justify-self: start;
    align-self: center;
    margin: 0;
    color: var(--color-text);
    font-weight: 700;
    font-size: 0.875em;
    padding-bottom: 1.5em;

}


main section:nth-of-type(2) p{
    grid-row-start: 1;
    grid-column-start: 2;
    z-index: 1;
    justify-self: start;
    align-self: center;
    margin: 0;
    font-weight: 500;
    font-size: 0.875em;
    padding-top: 2em;
    color: var(--grijze-text);
}

main section:nth-of-type(2) div{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: end;
    align-self: end;
    margin: 0.5em;
 }

main section:nth-of-type(2) img{
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
    min-height: 6.1em;
    min-width: 8.1em;
    object-fit: cover;
    border-radius: 3.5%;
}


 /*dit zijn de podcasts 1*/
 main section:nth-of-type(3){
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

main section:nth-of-type(3) h2{
    margin: 0;
    color: var(--rood);
    font-size: 1.125em;
}

main section:nth-of-type(3) ul {
    padding: 0;
    margin-top: 0.5em;
    gap: 1em;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
} 

main section:nth-of-type(3) li{
    display: grid;
    gap: 1em;
    min-height: 8.5em;
    min-width: 8.5em;
    scroll-snap-align: center;
}

main section:nth-of-type(3) li div{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: end;
    align-self: start;
    margin: 0.5em;
}

main section:nth-of-type(3) img{
    grid-row-start: 1;
    grid-column-start: 1;
}    



/* Grote journaal 2 */
main section:nth-of-type(4){
    display: grid ;
}

 main section:nth-of-type(4) h3{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: start;
    align-self: end;
    margin: 0;
    padding: 1.5em 0.7em;
    color: var(--wit-vulling);
    font-family: EffraBold, Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.25em;
 }


 main section:nth-of-type(4) p{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: start;
    align-self: end;
    margin: 0;
    padding: 0 1em 1.3em 1em;
    color: var(--wit-vulling);
    font-weight: 400;
    font-size: 0.875em;
 }

 main section:nth-of-type(4) div{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: end;
    align-self: start;
    margin: 0.5em;
 }

 main section:nth-of-type(4) img{
    grid-row-start: 1;
    grid-column-start: 1;
    min-width: 21.4em;
    width: 100%;
    object-fit: cover;
    min-height: 16em;
 }    


/* Kleine journalen 2 */
main section:nth-of-type(5) li{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    padding: 1em 0;
    gap: 1em;
}


main section:nth-of-type(5) h3{
    grid-row-start: 1;
    grid-column-start: 2;
    z-index: 1;
    justify-self: start;
    align-self: center;
    margin: 0;
    color: var(--color-text);
    font-weight: 700;
    font-size: 0.875em;
    padding-bottom: 1.5em;

}


main section:nth-of-type(5) p{
    grid-row-start: 1;
    grid-column-start: 2;
    z-index: 1;
    justify-self: start;
    align-self: center;
    margin: 0;
    font-weight: 500;
    font-size: 0.875em;
    padding-top: 2em;
    color: var(--grijze-text);
}

main section:nth-of-type(5) div{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: end;
    align-self: end;
    margin: 0.5em;
 }

main section:nth-of-type(5) img{
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
    min-height: 6.1em;
    min-width: 8.1em;
    object-fit: cover;
    border-radius: 3.5%;
}


 /*dit zijn de podcasts 2*/
 main section:nth-of-type(6){
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

main section:nth-of-type(6) h2{
    margin: 0;
    color: var(--rood);
    font-size: 1.125em;
}

main section:nth-of-type(6) ul {
    padding: 0;
    margin-top: 0.5em;
    gap: 1em;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
} 

main section:nth-of-type(6) li{
    display: grid;
    gap: 1em;
    min-height: 8.5em;
    min-width: 8.5em;
    scroll-snap-align: center;
}

main section:nth-of-type(6) li div{
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    justify-self: end;
    align-self: start;
    margin: 0.5em;
}


main section:nth-of-type(6) img{
    grid-row-start: 1;
    grid-column-start: 1;
} 

 
 /* Reclame */
main section:nth-of-type(7)/* Voor nu!!! */{
    background-color: var(--grijze-achtergrond);
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}   

main section:nth-of-type(7) h2{
    font-size: 1em;
    margin: 0.7em 0;
    color: var(--grijze-text);
}   

main section:nth-of-type(7) a{
    color: var(--grijze-text);
}   

main section:nth-of-type(7) ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.875em 1.5em; 
}



/* Podcast widht:8.5em: */





/* Voor footer ALLEEN OP PAGINA 2 */

footer section:nth-of-type(4){
    display: flex;
	gap: 1em;
    margin: 1.5em 1em 2em 1em;  
    font-size: 0.9em;
    color: var(--grijze-text);
    font-weight: 400;
}