/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

h1{
	display: none;
}

nav{
	display: flex;
	gap: 2em;
}

svg{
	line-height: 1.15;
text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
font-feature-settings: "liga", "kern";
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1rem;
list-style: none;
box-sizing: border-box;
margin: 0px;
padding: 0px;
overflow-clip-margin: 1px;
width: 70px;
color: rgb(148, 148, 148);
display: block;
}

section:first-of-type{
	display: grid ;
}

section:first-of-type h2{
	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 1;
	justify-self: start;
	align-self: end;

	margin:  1em;
	color: white;
}

section:first-of-type img{
	grid-row-start: 1;
	grid-column-start: 1;
	width: 100%;
}

/*h2:first-of-type{
	color: red;
	z-index: 10;
 } */

section:nth-of-type(2) /* voor nu*/ {
	display: flex;
	overflow-x: auto;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* list stype type: none */