/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

body{
	background-color: rgb(255, 255, 255);
}

nav{
	display: flex;
	gap: 2em;
}

h1{
	line-height: 1.15;
text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
font-feature-settings: "liga", "kern";
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1rem;
list-style: none;
box-sizing: border-box;
margin: 0px;
padding: 0px;
overflow-clip-margin: 1px;
width: 70px;
color: rgb(148, 148, 148);
display: block;
}

section:first-of-type{
	display: grid ;
}

details[open] summary{
	font-weight: bold;
}

section:first-of-type h2{
	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 1;
	justify-self: start;
	align-self: end;

	margin:  1em;
	color: white;

	font-weight: 700;
    line-height: 1.5rem; /* let op rem*/
	font-size: 1.375rem;
}

section:first-of-type img{
	grid-row-start: 1;
	grid-column-start: 1;
	width: 100%;
}

/*h2:first-of-type{
	color: red;
	z-index: 10;
 } */

section:nth-of-type(2) /*dit is het 2e stuk*/{
	display: grid;
	grid-template-columns: 1fr 1fr;

}

section:nth-of-type(2) img{
	width: 10em;
	border-radius: 5%;
}

section:nth-of-type(2) img:first-of-type{
	grid-row-start: 1;
	grid-column-start: 1;
}

section:nth-of-type(2) img:nth-of-type(2){
	grid-row-start: 1;
	grid-column-start: 2;
}

section:nth-of-type(2) h2{
	font-weight: 500;
        font-size: 0.875em;
        line-height: 1em;
}

section:nth-of-type(3) /* 3e stuk*/{
	display: grid;
	grid-template-columns: 1fr 1fr;

}

section:nth-of-type(3) img{
	grid-column-start: 1;

}

section:nth-of-type(3) h2{
	grid-column-start: 2;
	/* font-weight: 500;    */
    /* font-size: 0.875rem; */
    /* line-height: 1rem; */
}

section:nth-of-type(4) /* voor nu*/ {
	display: flex;
	overflow-x: auto;
} /*dit zijn de videos*/

section:last-of-type{
	display: flex;
	gap: 1em;
}



/* Voor de footer svg 1 */
/*text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
font-family: inherit;
font-size: 100%;
line-height: 1.15;
text-transform: none;
text-align: left;
font-weight: 500;
cursor: pointer;
width: 20;
height: 18;
fill: none;
box-sizing: border-box;
margin: 0px;
padding: 0px;
overflow-clip-margin: 1px;
color: rgb(230, 30, 20);*/ 


/* Voor de footer svg 2 en 3 */
/*text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
font-feature-settings: "liga", "kern";
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1rem;
overflow-wrap: anywhere;
font-weight: 500;
line-height: 1.14;
width: 24;
height: 24;
box-sizing: border-box;
margin: 0px;
padding: 0px;
overflow-clip-margin: 1px;
color: rgb(230, 30, 20);*/


/* Footer NOS logo */
/*     line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-clip-margin: 1px;
    height: 1.75rem;
    color: rgb(148, 148, 148); */


	/* Social media logos */
	/*     line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    width: 24;
    height: 24;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-clip-margin: 1px;
    transform: scale(0.8); */



	




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* list stype type: none */
/*[aria-current= "page"] {
	font-size: 2em;
}*/


/* transition: transform 250ms ease-in-out; */
/* transform: perspective(1px) scale3d(1, 1, 1); */
/* Voor groter maken van fotos? */