/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#202020;
	--background-color: rgb(255, 255, 255);
	--font-body-family: "EffraBold"
}

@font-face {
	font-family: EffraBold;
	src: url("EffraBold.woff") format("woff");
}

p:first-of-type{
    display: block;
    font-weight: 600; 
    width: 8.75em;
    height: 1.75em;
    border-radius: 3.5em;
    background-color: #E61E14;
    color: rgb(255, 255, 255);
    padding: 0.35em 0.5em;
    font-size: 0.75em;

}




body{
	/* font-family: "EffraBold"; */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Let op lettertypen */
    margin-left: 1em;
    margin-right: 1em;
}

img {
	width: 100%;
}

nav{
	display: flex;
	gap: 2em;
    height: 3em;
	/* position: sticky; */
	/* top: 0%; */
}

nav button{
    border: none;
    background-color: transparent;
}

/* Logo van de NOS  */
h1{
	line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-clip-margin: 1px;
    width: 70px;
    color: rgb(148, 148, 148);
    display: block;
}


details[open] summary{
	font-weight: bold;
}


section:first-of-type{
	display: grid ;
}

section:first-of-type h2{
	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 1;
	justify-self: start;
	align-self: end;

    margin: 0.8em;
    color: rgb(255, 255, 255);

    font-weight: 600;
    line-height: 1em;
    font-size: 1.25em;
	background-image: linear-gradient( rgb(0 0 0 /0), rgba(0 0 0 /1));
}

section:first-of-type img{
	grid-row-start: 1;
	grid-column-start: 1;
	width: 100%;
}

/*h2:first-of-type{
	color: red;
	z-index: 10;
 } */

section:nth-of-type(2) /*dit is het 2e stuk*/{
	/* display: grid;
	grid-template-columns: 1fr 1fr; */
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 1em;

}

/* section:nth-of-type(2) h2{
    max-width: 10em;
} */

article:first-of-type {
    display: flex;
    flex-direction: column-reverse;
}

article:nth-of-type(2){
    display: flex;
    flex-direction: column-reverse;
}

section:nth-of-type(2) img{
	width: 10em;
	border-radius: 3.5%;
}

section:nth-of-type(2) img:first-of-type{
	grid-row-start: 1;
	grid-column-start: 1;
}

section:nth-of-type(2) img:nth-of-type(2){
	grid-row-start: 1;
	grid-column-start: 2;
}

section:nth-of-type(2) h2{
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1rem;
}

/* section:nth-of-type(3) img{
	grid-column-start: 1;

} */
section:nth-of-type(3) ul {
	padding: 0;
	margin: 0;
}

section:nth-of-type(3) ul li {
    display: flex;
    align-items: center;
	gap: 1em;
	padding-top: 1em;
	padding-bottom: 0.9em;
	border-bottom: 1px solid rgb(238, 238, 238);
    /* Let op 1px */
}

	section:nth-of-type(3) h2{
        color: #202020;
        font-size: 0.875em;
        font-weight: 500;
        line-height: 1.2em;
}

section:nth-of-type(3) img{
	border-radius: 3.5%;
    order: -1;
    width: 7em;
    height: 5em;
    object-fit: cover;
}


section:nth-of-type(4){
    position: relative;
}

section:nth-of-type(4) h2{
    position: absolute;
    color: rgb(255, 255, 255);
    margin: 0;
    bottom: 0%;
    background-image: linear-gradient( rgb(0 0 0 /0), rgba(0 0 0 /1));
    border-radius: 3.5%;
    font-size: 1.3em;
}

section:nth-of-type(4) img{
    height: 5em;
    object-fit: cover;
    border-radius: 3.5%;
}

section:nth-of-type(4) svg{
    position: absolute;
    top: 0%;
    left: 0%;
}


section:nth-of-type(5) ul {
	padding: 0;
	margin: 0;
}

section:nth-of-type(5) ul li {
    display: flex;
    align-items: center;
	gap: 1em;
	padding-top: 1em;
	padding-bottom: 0.9em;
	border-bottom: 1px solid rgb(238, 238, 238);
}

	section:nth-of-type(5) h2{
	font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
}

section:nth-of-type(5) img{
	border-radius: 3.5%;
    order: -1;
    width: 7em;
    height: 5em;
    object-fit: cover;
}

/*dit zijn de videos*/
section:nth-of-type(6) ul /* voor nu*/ {
    padding: 0;
    gap: 1em;
    display: flex;
	overflow-x: auto;
    list-style-type: none;
} 

section:nth-of-type(6) li{
    display: flex;
    align-items: center;
}

section:nth-of-type(6) img{
    height: 7.5em;
    border-radius: 3.5%;
} 



section:nth-of-type(7) /* voor nu*/{
	display: flex;
	flex-direction: column;
}

section:last-of-type{
	display: flex;
	gap: 1em;
	/* margin-top: 1em; */
}

section:last-of-type p{
	margin: 0;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}


/*  icoontje voor collectie paralympishe spelen */
/*     text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
    list-style: none;
    cursor: pointer;
    font-family: Effra-Bold, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 0.75em;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-clip-margin: 1px;
    display: inline-block;
    flex: 1 0 auto;
    vertical-align: middle;
    line-height: 1;
    fill: currentcolor;
    width: 1em;
    height: 1em; */


/* Pijl icoontje paralympishe spelen */
/*     line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    list-style: none;
    cursor: pointer;
    width: 20;
    height: 18;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-clip-margin: 1px;
    position: absolute;
    right: 1rem;
    color: rgb(255, 255, 255); */


/* Voor de footer svg 1 */
/*text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
font-family: inherit;
font-size: 100%;
line-height: 1.15;
text-transform: none;
text-align: left;
font-weight: 500;
cursor: pointer;
width: 20;
height: 18;
fill: none;
box-sizing: border-box;
margin: 0px;
padding: 0px;
overflow-clip-margin: 1px;
color: rgb(230, 30, 20);*/ 


/* Voor de footer svg 2 en 3 */
/*text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
font-feature-settings: "liga", "kern";
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1rem;
overflow-wrap: anywhere;
font-weight: 500;
line-height: 1.14;
width: 24;
height: 24;
box-sizing: border-box;
margin: 0px;
padding: 0px;
overflow-clip-margin: 1px;
color: rgb(230, 30, 20);*/


/* Footer NOS logo */
/*     line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-clip-margin: 1px;
    height: 1.75rem;
    color: rgb(148, 148, 148); */


	/* Social media logos */
	/*     line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    width: 24;
    height: 24;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-clip-margin: 1px;
    transform: scale(0.8); */



	




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* list stype type: none */
/*[aria-current= "page"] {
	font-size: 2em;
}*/


/* transition: transform 250ms ease-in-out; */
/* transform: perspective(1px) scale3d(1, 1, 1); */
/* Voor groter maken van fotos? */