 
main{
    margin: 0 1em;
}


main div{
    background-color: var(--div-zwart);
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
}

main div svg{
    color: var(--wit-vulling);
    width: 0.7em;
}


@media (max-width: 899px) {
    
    main section:nth-of-type(1) > h2{
        color: var(--rood);
        font-size: 1.125em;
    }

    /* Grote journaal 1 */
    main section:nth-of-type(1) section:nth-of-type(1)  a {
        display: grid ;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr ;
        text-decoration: none;
        margin-bottom: 2em;
    }


    main section:nth-of-type(1) section:nth-of-type(1) a h3{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: start;
        align-self: end;
        margin: 0;
        padding: 0em 0.7em 2em;
        color: var(--wit-vulling);
        font-family: EffraBold, Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 1.25em;
    }


    main section:nth-of-type(1) section:nth-of-type(1) a p{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: start;
        align-self: end;
        margin: 0;
        padding: 0 1em 1em;
        color: var(--wit-vulling);
        font-weight: 400;
        font-size: 0.875em;
    }

    main section:nth-of-type(1)  section:nth-of-type(1) a div{
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: start;
        margin: 0.5em;
    }

    main section:nth-of-type(1) section:nth-of-type(1) a img{
        grid-row: 1 / 3;
        grid-column-start: 1;
        min-width: 21.4em;
        width: 100%;
        object-fit: cover;
        min-height: 16em;
    }

    /* Kleine journalen 1 */
    main  section:nth-of-type(1) section:nth-of-type(2) li a{
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 1em 0;
        gap: 1em;
        text-decoration: none;
    }


    main section:nth-of-type(1) section:nth-of-type(2) a h3{
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: start;
        align-self: end;
        margin: 0;
        color: var(--color-text);
        font-weight: 700;
        font-size: 0.875em;
    }


    main section:nth-of-type(1) section:nth-of-type(2) a p{
        grid-row-start: 2;
        grid-column-start: 2;
        justify-self: start;
        margin: 0;
        font-weight: 500;
        font-size: 0.875em;
        color: var(--grijze-text);
    }

    main section:nth-of-type(1)  section:nth-of-type(2) a div{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: end;
        margin: 0.5em;
    }

    main section:nth-of-type(1) section:nth-of-type(2) a img{
        grid-row: 1 / 3;
        grid-column-start: 1;
        justify-self: start;
        align-self: center;
        width: 100%;
        min-height: 6.1em;
        min-width: 8.1em;
        object-fit: cover;
        border-radius: 3.5%;
    }


    /*dit zijn de podcasts 1*/
    main section:nth-of-type(1) section:nth-of-type(3){
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    main section:nth-of-type(1) section:nth-of-type(3) h2{
        margin: 0;
        color: var(--rood);
        font-size: 1.125em;
    }

    main section:nth-of-type(1) section:nth-of-type(3) ul {
        padding: 0;
        margin-top: 0.5em;
        gap: 1em;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    } 

    main section:nth-of-type(1) section:nth-of-type(3) li a{
        display: grid;
        gap: 1em;
        min-height: 8.5em;
        min-width: 8.5em;
        scroll-snap-align: center;
    }

    main section:nth-of-type(1) section:nth-of-type(3) li a div{
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: start;
        margin: 0.5em;
    }

    main section:nth-of-type(1) section:nth-of-type(3) a img{
        grid-row-start: 1;
        grid-column-start: 1;
    }    


    /*************/
    /* SECTION 2 */
    /*************/

    main section:nth-of-type(2) > h2{
        color: var(--rood);
        font-size: 1.125em;
    }

    /* Grote journaal 2 */
    main section:nth-of-type(2) section:nth-of-type(1)  a {
        display: grid ;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr ;
        text-decoration: none;
        margin-bottom: 2em;
    }


    main section:nth-of-type(2) section:nth-of-type(1) a h3{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: start;
        align-self: end;
        margin: 0;
        padding: 0em 0.7em 2em;
        color: var(--wit-vulling);
        font-family: EffraBold, Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 1.25em;
    }


    main section:nth-of-type(2) section:nth-of-type(1) a p{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: start;
        align-self: end;
        margin: 0;
        padding: 0 1em 1em;
        color: var(--wit-vulling);
        font-weight: 400;
        font-size: 0.875em;
    }

    main section:nth-of-type(2)  section:nth-of-type(1) a div{
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: start;
        margin: 0.5em;
    }

    main section:nth-of-type(2) section:nth-of-type(1) a img{
        grid-row: 1 / 3;
        grid-column-start: 1;
        min-width: 21.4em;
        width: 100%;
        object-fit: cover;
        min-height: 16em;
    }


    /* Kleine journalen 2 */
    main  section:nth-of-type(2) section:nth-of-type(2) li a{
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 1em 0;
        gap: 1em;
        text-decoration: none;
    }


    main section:nth-of-type(2) section:nth-of-type(2) a h3{
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: start;
        align-self: end;
        margin: 0;
        color: var(--color-text);
        font-weight: 700;
        font-size: 0.875em;
    }


    main section:nth-of-type(2) section:nth-of-type(2) a p{
        grid-row-start: 2;
        grid-column-start: 2;
        justify-self: start;
        margin: 0;
        font-weight: 500;
        font-size: 0.875em;
        color: var(--grijze-text);
    }

    main section:nth-of-type(2)  section:nth-of-type(2) a div{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: end;
        margin: 0.5em;
    }

    main section:nth-of-type(2) section:nth-of-type(2) a img{
        grid-row: 1 / 3;
        grid-column-start: 1;
        justify-self: start;
        align-self: center;
        width: 100%;
        min-height: 6.1em;
        min-width: 8.1em;
        object-fit: cover;
        border-radius: 3.5%;
    }

    /*dit zijn de podcasts 2*/
    main section:nth-of-type(2) section:nth-of-type(3){
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    main section:nth-of-type(2) section:nth-of-type(3) h2{
        margin: 0;
        color: var(--rood);
        font-size: 1.125em;
    }

    main section:nth-of-type(2) section:nth-of-type(3) ul {
        padding: 0;
        margin-top: 0.5em;
        gap: 1em;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    } 

    main section:nth-of-type(2) section:nth-of-type(3) li a{
        display: grid;
        gap: 1em;
        min-height: 8.5em;
        min-width: 8.5em;
        scroll-snap-align: center;
    }

    main section:nth-of-type(2) section:nth-of-type(3) li a div{
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: start;
        margin: 0.5em;
    }

    main section:nth-of-type(2) section:nth-of-type(3) a img{
        grid-row-start: 1;
        grid-column-start: 1;
    }  
    
    /* Reclame */
    main section:nth-of-type(3) section:nth-of-type(1){
        background-color: var(--grijze-achtergrond);
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
    }   

    main section:nth-of-type(3) section:nth-of-type(1) h2{
        font-size: 0.9em;
        margin: 0.7em 0;
        text-transform: uppercase;
        letter-spacing: 0.0625em;
        color: var(--grijze-text);
    }   

    main section:nth-of-type(3) section:nth-of-type(1) a{
        color: var(--grijze-text);
    }   

    main section:nth-of-type(3) section:nth-of-type(1) ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0.875em 1.5em; 
    }

}




/**********************************************************************************/
								/* GROOT SCHERM */
/**********************************************************************************/

@media (min-width: 900px){

    /* Voor het maken van de layout van grootscherm */
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 25em;
        justify-items: center;
        gap: 2.5rem;
    }

    main > section:nth-of-type(1){
        grid-column-start: 1;
        grid-row-start: 1;
        margin-top: 2em;
        max-width: 26em;
        border-radius: 0.25rem;
        background-color: var(--background-color);
        box-shadow: var(--drop-shadow) 0px 0.325rem 0.5rem 0px;
    }

    /* Zodat er ruimte tussen de rand van de section en de onderdelen in zit */
    main  section:nth-of-type(1) section:nth-of-type(n +2){
        margin: 0 1em;
    }

    main > section:nth-of-type(2){
        grid-column-start: 2;
        grid-row-start: 1;
        margin-top: 2em;
        max-width: 26em;
        border-radius: 0.25rem;
        background-color: var(--background-color);
        box-shadow: var(--drop-shadow) 0px 0.325rem 0.5rem 0px;
    }

    main  section:nth-of-type(2) section:nth-of-type(n +2){
        margin: 0 1em;
    }

    main > section:nth-of-type(3){
        grid-column: 1/ 3;
        grid-row-start: 2;
        min-width: 53em;
    }



    /* Font size veranderd en margin bottom */
    main section:nth-of-type(1) > h2{
        color: var(--rood);
        font-size: 1.75em;
        margin-bottom: 1em;
     }
    
    /* Grote journaal 1 */
     main section:nth-of-type(1) section:nth-of-type(1)  a {
        display: grid ;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr ;
        text-decoration: none;
        margin-bottom: 2em;
    }
    
    
     main section:nth-of-type(1) section:nth-of-type(1) a h3{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: start;
        align-self: end;
        margin: 0;
        padding: 0em 0.7em 2em;
        color: var(--wit-vulling);
        font-family: EffraBold, Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 1.25em;
     }
    
    
     main section:nth-of-type(1) section:nth-of-type(1) a p{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: start;
        align-self: end;
        margin: 0;
        padding: 0 1em 1em;
        color: var(--wit-vulling);
        font-weight: 400;
        font-size: 0.875em;
     }
    
     main section:nth-of-type(1)  section:nth-of-type(1) a div{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: end;
        margin: 0.5em;
     }
    
     main section:nth-of-type(1) section:nth-of-type(1) a img{
        grid-row: 1 / 3;
        grid-column-start: 1;
        min-width: 21.4em;
        width: 100%;
        object-fit: cover;
        min-height: 16em;
    }
    
    /* Kleine journalen 1 */
    main  section:nth-of-type(1) section:nth-of-type(2) li a{
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 1em 0;
        gap: 1em;
        text-decoration: none;
    }
    
    
    main section:nth-of-type(1) section:nth-of-type(2) a h3{
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: start;
        align-self: end;
        margin: 0;
        color: var(--color-text);
        font-weight: 700;
        font-size: 0.875em;
    }
    
    
    main section:nth-of-type(1) section:nth-of-type(2) a p{
        grid-row-start: 2;
        grid-column-start: 2;
        justify-self: start;
        margin: 0;
        font-weight: 500;
        font-size: 0.875em;
        color: var(--grijze-text);
    }
    
    main section:nth-of-type(1)  section:nth-of-type(2) a div{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: end;
        margin: 0.5em;
     }
    
    main section:nth-of-type(1) section:nth-of-type(2) a img{
        grid-row: 1 / 3;
        grid-column-start: 1;
        justify-self: start;
        align-self: center;
        width: 100%;
        min-height: 6.1em;
        min-width: 8.1em;
        object-fit: cover;
        border-radius: 3.5%;
    }
    
    
     /*dit zijn de podcasts 1*/
     main section:nth-of-type(1) section:nth-of-type(3){
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    
    main section:nth-of-type(1) section:nth-of-type(3) h2{
        margin: 0;
        color: var(--rood);
        font-size: 1.45em;
    }
    
    main section:nth-of-type(1) section:nth-of-type(3) ul {
        padding: 0;
        margin-top: 0.5em;
        gap: 1em;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    } 
    
    main section:nth-of-type(1) section:nth-of-type(3) li a{
        display: grid;
        gap: 1em;
        min-height: 8.5em;
        min-width: 8.5em;
        scroll-snap-align: center;
    }
    
    main section:nth-of-type(1) section:nth-of-type(3) li a div{
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: start;
        margin: 0.5em;
    }
    
    main section:nth-of-type(1) section:nth-of-type(3) a img{
        grid-row-start: 1;
        grid-column-start: 1;
    }    
    
    
    /*************/
    /* SECTION 2 */
    /*************/
    
    main section:nth-of-type(2) > h2{
        color: var(--rood);
        font-size: 1.75em;
        margin-bottom: 1em;
     }
    
    /* Grote journaal 2 */
    main section:nth-of-type(2) section:nth-of-type(1)  a {
        display: grid ;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr ;
        text-decoration: none;
        margin-bottom: 2em;
    }
    
    
     main section:nth-of-type(2) section:nth-of-type(1) a h3{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: start;
        align-self: end;
        margin: 0;
        padding: 0em 0.7em 2em;
        color: var(--wit-vulling);
        font-family: EffraBold, Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 1.25em;
     }
    
    
     main section:nth-of-type(2) section:nth-of-type(1) a p{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: start;
        align-self: end;
        margin: 0;
        padding: 0 1em 1em;
        color: var(--wit-vulling);
        font-weight: 400;
        font-size: 0.875em;
     }
    
     main section:nth-of-type(2)  section:nth-of-type(1) a div{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: end;
        margin: 0.5em;
     }
    
     main section:nth-of-type(2) section:nth-of-type(1) a img{
        grid-row: 1 / 3;
        grid-column-start: 1;
        min-width: 21.4em;
        width: 100%;
        object-fit: cover;
        min-height: 16em;
    }
    
    
    /* Kleine journalen 2 */
    main  section:nth-of-type(2) section:nth-of-type(2) li a{
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 1em 0;
        gap: 1em;
        text-decoration: none;
    }
    
    
    main section:nth-of-type(2) section:nth-of-type(2) a h3{
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: start;
        align-self: end;
        margin: 0;
        color: var(--color-text);
        font-weight: 700;
        font-size: 0.875em;
    }
    
    
    main section:nth-of-type(2) section:nth-of-type(2) a p{
        grid-row-start: 2;
        grid-column-start: 2;
        justify-self: start;
        margin: 0;
        font-weight: 500;
        font-size: 0.875em;
        color: var(--grijze-text);
    }
    
    main section:nth-of-type(2)  section:nth-of-type(2) a div{
        grid-row-start: 2;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: end;
        margin: 0.5em;
     }
    
    main section:nth-of-type(2) section:nth-of-type(2) a img{
        grid-row: 1 / 3;
        grid-column-start: 1;
        justify-self: start;
        align-self: center;
        width: 100%;
        min-height: 6.1em;
        min-width: 8.1em;
        object-fit: cover;
        border-radius: 3.5%;
    }
    
     /*dit zijn de podcasts 2*/
     main section:nth-of-type(2) section:nth-of-type(3){
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    
    main section:nth-of-type(2) section:nth-of-type(3) h2{
        margin: 0;
        color: var(--rood);
        font-size: 1.45em;
    }
    
    main section:nth-of-type(2) section:nth-of-type(3) ul {
        padding: 0;
        margin-top: 0.5em;
        gap: 1em;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    } 
    
    main section:nth-of-type(2) section:nth-of-type(3) li a{
        display: grid;
        gap: 1em;
        min-height: 8.5em;
        min-width: 8.5em;
        scroll-snap-align: center;
    }
    
    main section:nth-of-type(2) section:nth-of-type(3) li a div{
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 1;
        justify-self: end;
        align-self: start;
        margin: 0.5em;
    }
    
    main section:nth-of-type(2) section:nth-of-type(3) a img{
        grid-row-start: 1;
        grid-column-start: 1;
    }  
     
     /* Reclame */
    main section:nth-of-type(3) section:nth-of-type(1){
        background-color: var(--grijze-achtergrond);
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
    }   
    
    main section:nth-of-type(3) section:nth-of-type(1) h2{
        font-size: 0.9em;
        margin: 0.7em 0;
        text-transform: uppercase;
        letter-spacing: 0.0625em;
        color: var(--grijze-text);
    }   
    
    main section:nth-of-type(3) section:nth-of-type(1) a{
        color: var(--grijze-text);
    }   
    
    main section:nth-of-type(3) section:nth-of-type(1) ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0.875em 1.5em; 
    }
     
}